{% extends "home/base_navbar.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% comment %} {% block head %}
<!-- LightBox --> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" integrity="sha512-ZKX+BvQihRJPA8CROKBhDNvoc2aDMOdAlcm7TUQY+35XYtrd3yh95QOOhsPDQY9QnKE0Wqag9y38OIgEvb88cA==" crossorigin="anonymous" />
{% endblock %} {% endcomment %}

{% block background %}
<!-- Background -->
<div class="container">
    <img class="bg-img" src="{% static 'home/images/home-bg-blue.jpg' %}" alt="">
    <div class="img-overlay"></div>
</div>
{% endblock %}


{% block content %}
<!-- Back to top button -->
<button class="btn btn-primary rounded-circle" onclick="topFunction()" id="topBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>

<!-- About -->
<div class="container">
    <div class="row about" id="about">
        <h2 class="text-white w-100 d-flex justify-content-center pb-2 pb-sm-4">About</h2>
        <div class="col-sm-6 d-flex justify-content-center">
            <img src="{% static 'home/images/home-about.jpeg' %}" class="img-fluid rounded-circle my-auto">
        </div>
        <div class="col-sm-6 mt-3 mt-sm-0">
            <p class="text-white">I'm a sound engineer interested in applying machine learning
                techniques for scientific research. I am currently part of the 
                Underwater Acoustics Research Group created to develop hardware 
                and software tools to apply passive acoustic monitoring of cetaceans.
            </p>

            <p class="text-white">This site is meant to showcase a combination of my interests
            and projects, including bioacoustics, web development, machine 
            learning and some photography gathered during fieldwork. I am always 
            looking for new challenges and opportunities to learn.</p>
            
            <ul class="social-links d-flex justify-content-center">
                <li><a href="https://www.linkedin.com/in/marino-alexander/" target="_blank"><span class="fa fa-lg fa-linkedin social-links"></span></a></li>
                <li><a href="https://github.com/marinoalexander5" target="_blank"><span class="fa fa-lg fa-github social-links"></span></a></li>
            </ul>
        </div>
    </div>

    <hr class="w-100 rounded bg-light my-5" id="apps">

    <!-- Apps -->
    <div class="row">
        <h2 class="text-white w-100 d-flex justify-content-center pb-2 pb-sm-4">Apps</h2>
        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="{% url 'geodjango:calculate_view' %}">
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'home/images/mapa.png' %}" alt="geodjango">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-white">GeoDjango</h5>
                            <p class="text-white">Folium, Geoip2, Geopy</p>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="{% url 'jsprojects:main' %}">
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'home/images/javascript-logo.png' %}" alt="javascript">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-white">Javascript</h5>
                            <p class="text-white">Plain Javascript projects</p>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="{% url 'img_classifier:main' %}">
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'home/images/computer-vision.png' %}" alt="computer-vision">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-white">Image Classifier</h5>
                            <p class="text-white">Keras, Transfer Learning</p>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="{% url 'blog:blog-home' %}">
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'home/images/blog-logo-2.png' %}" alt="blog">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-white">Blog</h5>
                            <p class="text-white">CRUD, Pagination, Signals, Email password reset</p>
                        </div>
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <hr class="w-100 rounded bg-light my-5" id="publications">

    <!-- Publications -->
    <div class="row">
        <h2 class="text-white w-100 d-flex justify-content-center pb-2 pb-sm-4">Publications</h2>
        <ul class="text-white list-unstyled">
            <li><p>Reyes, M.V.,<strong> Marino, A.</strong>, Dellabianca, N.A., Hevia, M., Torres, M., Raya Rey, A. and Melcón, M. (2018). Clicks of wild Burmeister’s porpoises (Phocoena spinipinnis) in Tierra del Fuego, Argentina. Marine Mammal Science. DOI: 10.1111/mms.12489</p></li>
            <li><p>Veca, A. C.; Valese, N.; Ruzzante, J.; Albalat, A.;<strong> Marino, A.</strong>; Reyes Reyes, M. V. Autonomous System for Passive Acoustic Monitoring of Cetaceans. Journal of Acoustic Emission . Jan-Dec2020, Vol. 37, pS38-S54. 17p.</p></li>
        </li>
        </ul>
    </div>

    <hr class="w-100 rounded bg-light my-5" id="certificates">

    <!-- Certificates -->
    <div class="row">
        <h2 class="text-white w-100 d-flex justify-content-center pb-2 pb-sm-4">Certificates</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow"> 
                    <img class="card-img-top" src="{% static 'home\images\certificates-intro-to-tensorflow.jpg' %}" alt="">
                    <div class="card-body">
                        <h6 class="card-title">Introduction to Tensorflow for Artificial Intelligence, Machine Learning, and Deep Learning</h6>
                        <h6 class="card-subtitle mb-2 text-muted">DeepLearning.AI - Coursera</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow"> 
                    <img class="card-img-top" src="{% static 'home\images\certificates-hyperparameter-tunning.jpg' %}" alt="">
                    <div class="card-body">
                        <h6 class="card-title">Improving Deep Neural networkss: Hyperparameter Tuning, Regularization and Optimization</h6>
                        <h6 class="card-subtitle mb-2 text-muted">DeepLearning.AI - Coursera</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow"> 
                    <img class="card-img-top" src="{% static 'home\images\certificates-nn-dl.jpg' %}" alt="">
                    <div class="card-body">
                        <h6 class="card-title">Neural Networks and Deep Learning</h6>
                        <h6 class="card-subtitle mb-2 text-muted">DeeplearningAI - Coursera</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow"> 
                    <img class="card-img-top" src="{% static 'home\images\certificates-bootstrap.jpg' %}" alt="">
                    <div class="card-body">
                        <h6 class="card-title">Front End Web-Development UI Frameworks and Tools: Bootstrap 4</h6>
                        <h6 class="card-subtitle mb-2 text-muted">The Hong Kong University of Science and Technology - Coursera</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow"> 
                    <img class="card-img-top" src="{% static 'home\images\certificates-react.jpg' %}" alt="">
                    <div class="card-body">
                        <h6 class="card-title">Front End Web-Development with React</h6>
                        <h6 class="card-subtitle mb-2 text-muted">The Hong Kong University of Science and Technology - Coursera</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow"> 
                    <img class="card-img-top" src="{% static 'home\images\certificates-data-visualization.png' %}" alt="">
                    <div class="card-body">
                        <h6 class="card-title">Data Visualization</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Kaggle Micro Courses</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow"> 
                    <img class="card-img-top" src="{% static 'home\images\certificates-pandas.png' %}" alt="">
                    <div class="card-body">
                        <h6 class="card-title">Pandas</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Kaggle Micro Courses</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow"> 
                    <img class="card-img-top" src="{% static 'home\images\certificates-intro-to-machine-learning.png' %}" alt="">
                    <div class="card-body">
                        <h6 class="card-title">Intro to Machine Learning</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Kaggle Micro Courses</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow"> 
                    <img class="card-img-top" src="{% static 'home\images\certificates-intermediate-machine-learning.png' %}" alt="">
                    <div class="card-body">
                        <h6 class="card-title">Intermediate Machine Learning</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Kaggle Micro Courses</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="w-100 rounded bg-light my-5" id="photography">

    <!-- Photography -->
    <div class="row">
        <h2 class="text-white w-100 d-flex justify-content-center pb-2 pb-sm-4">Photography</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <a href="{% static 'home\images\photography-1.jpg' %}" data-lightbox="photography-1" data-title="Antarctica"> 
                        <img class="card-img-top img-thumbnail" src="{% static 'home\images\photography-1-thumbnail.jpg' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow"> 
                    <a href="{% static 'home\images\photography-2.jpg' %}" data-lightbox="photography-2" data-title="Mendoza, Argentina"> 
                    <img class="card-img-top img-thumbnail" src="{% static 'home\images\photography-2-thumbnail.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow"> 
                    <a href="{% static 'home\images\photography-3.jpg' %}" data-lightbox="photography-3" data-title="Antarctica"> 
                    <img class="card-img-top img-thumbnail" src="{% static 'home\images\photography-3-thumbnail.jpg' %}" alt="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow" height="300" width="300"> 
                    <a href="{% static 'home\images\photography-4.jpg' %}" data-lightbox="photography-4" data-title="Antarctica"> 
                    <img class="card-img-top img-thumbnail" src="{% static 'home\images\photography-4-thumbnail.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow"> 
                    <a href="{% static 'home\images\photography-5.jpg' %}" data-lightbox="photography-5" data-title="Snow petrel <i>(Pagodroma nivea)</i>"> 
                    <img class="card-img-top img-thumbnail" src="{% static 'home\images\photography-5-thumbnail.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow"> 
                    <a href="{% static 'home\images\photography-6.jpg' %}" data-lightbox="photography-6" data-title="Iris"> 
                    <img class="card-img-top img-thumbnail" src="{% static 'home\images\photography-6-thumbnail.jpg' %}" alt="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow"> 
                    <a href="{% static 'home\images\photography-7.jpg' %}" data-lightbox="photography-7" data-title="Antarctica"> 
                    <img class="card-img-top img-thumbnail" src="{% static 'home\images\photography-7-thumbnail.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow"> 
                    <a href="{% static 'home\images\photography-8.jpg' %}" data-lightbox="photography-8" data-title="Ushuaia, Argentina"> 
                    <img class="card-img-top img-thumbnail" src="{% static 'home\images\photography-8-thumbnail.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow"> 
                    <a href="{% static 'home\images\photography-9.jpg' %}" data-lightbox="photography-9" data-title="Mylabris Beetle"> 
                    <img class="card-img-top img-thumbnail" src="{% static 'home\images\photography-9-thumbnail.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>




<footer class="d-flex justify-content-center">
    <small><a class="text-white" href="https://www.freepik.es/fotos/vintage">Foto de Vintage creado por benzoix - www.freepik.es</a></small>
     - 
    <small><a class="text-white" href="https://www.freepnglogos.com/pics/javascript">Javascript from freepnglogos.com</a></small>
</footer>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'home/js/home.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js" integrity="sha512-k2GFCTbp9rQU412BStrcD/rlwv1PYec9SNrkbQlo6RZCf75l6KcC3UwDY8H5n5hl4v77IDtIPwOk9Dqjs/mMBQ==" crossorigin="anonymous"></script>
{% endblock %}