@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body{
  background: none;
}

.bg-img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

@media screen and (max-width: 1024px) {
  .bg-img {
    left: 50%;
    margin-left: -512px;
  }
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

a, p, h1, h2, h3, h4, h5{
  font-family: 'JetBrains Mono';
}

.navbar-brand{
  font-size: 22px;
}

.nav-link{
  font-weight: bold;
  font-size: 22px;
  color: #fff !important;
  margin-left: 10px;
  transition: transform 0.5s;
}

.nav-link:hover{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transform: translateY(-10%);
}

.dropdown-item{
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
}

.dropdown-menu{
  background: none;
}

ul .social-links{
	padding: 0 5px 0 5px;
  text-align: center;
  color:white;
}

.social-links{
  list-style-type: none;
}

.img-overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: -1;
  opacity: 0.3;
}

.about{
  margin-top: 7rem;
}

hr {
  color: bisque;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-style: inset; 
  border-width: 2px; 
  margin: 0.5em auto; 
}

.carousel-inner{
  height: 400px
}

.carousel-inner img{
  max-height: 250px;
  max-width: 250px;
  margin: auto;
}

.carousel-caption{
  position: inherit;
}

#topBtn{
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 5;
}


.img-thumbnail{
  height: 209px;
  width: 372px;
}