body {
    background-image: none;
}

.modal-header {
    background: #f33e4de5; 
}
  
.modal-title {
   color: floralwhite;
}
  
.modal-body {
   background: #e9e6e1; 
}

.modal {
    background-color: rgba(255, 235, 205, 0.068);
    width: 100%;
    max-height: none;
}