{% extends "blog/base.html" %}
{% block content %}
	<h1>Django Blog</h1>
	<p>This blog was created with Django. It contains several functionalities including: </p>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">Function based views and Class based views</li>
		<li class="list-group-item">Login required access</li>
		<li class="list-group-item">User specific template rendering</li>
		<li class="list-group-item">Pagination</li>
		<li class="list-group-item">CRUD functionalities</li>
		<li class="list-group-item">AWS S3 Bucket for files serving</li>
	</ul>
{% endblock content %}