{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="container">
		<div class="col col-sm-6 offset-sm-3">
			<form class="text-white" method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom md-4">Reset Password</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info text-white" type="submit">Request Password Reset</button>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}